<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="在xml中实现运行所有case">
    <test name="testAllCase" preserve-order="true" >
            <classes>
                <class name="apis.FindUser"/>
                <class name="apis.FindUserJson"/>
                <class name="apis.EditUser"/>
            </classes>
    </test>
    <!--为了使用reportng的-->
    <!--需要加入jar包reportng-->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

</suite>